#sidebar{
    float:left;
    background-color:antiquewhite; 
    width:20%;
}

#main{
    width:80%;
    float:left;
}

#main img{
    width: 35%;
    float: left;
    padding-top: 6em;
    margin-left: 20px;
    margin-bottom:20px;
    object-fit: contain;

}

h1{
    float: left;
}

#schedule h2{
    border-bottom: solid 1px #cc0000;
}