body{
    font-family: 'Lucida Sans Unicode';
    
    
}
#sidebar{
    float:left;
    background-color:antiquewhite; 
    width:20%;
}
p{
    font-family: 'Lucida Sans Unicode';
}
#main{
    width:80%;
    float:left;
}

#main img{
    width: 35%;
    float: left;
    padding-top: 6em;
    margin-left: 20px;
    margin-bottom:20px;
    object-fit: contain;

}

h1{ font-family: 'Lucida Sans Unicode';
    float: left;
}

#schedule h2{
    
    border-bottom: solid 1px #cc0000;
}
h3{
    
    border-bottom: solid 1px #cc0000;
}
h4{
    
    border-bottom: solid 1px #cc0000;
}